.homepage{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.hide{
display:none;
}
.show{
    display: block;
}
