@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
body {
  margin: 0;
  font-family: 'Just Another Hand', cursive;
  font-size:1.5rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
